/* :root {
    --textColor: #1e1e1e;
    --text-muted: #8d;
    --text-card: #0D1B39;
    --header-text-color: #ffffff;
    --accent: #E58411;
    --footer: #F6973F;
    --gray: #7C7C7C;
    --beruza: #00D6C9;
    --font-gilroy: "Gilroy", sans-serif;
    --font-card: "Inter", sans-serif;
} */
@import './reset.css';
@import '../gilroy/Gilroy-Medium.ttf';
@import '../gilroy/Gilroy-Bold.ttf';
@import '../gilroy/Gilroy-Regular.ttf';

body {
    font-family: "Gilroy", sans-serif;
    color: #000;

}


.header {
    background-image: url("../images/Rectangle\ 1441.webp");
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1440 /1084;
    padding: 0 15px 0 15px;
    position: relative;
    color: #fff;

    @media screen and (min-resolution: 2x) {
        background-image: url("../images/Rectangle\ 1441@2x.webp");
    }

}

.container {
    max-width: 1310px;
    /* padding: 0 15px; */
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
    padding-bottom: 86px;
   padding-top: 40px;
    padding: clamp(20px, 0.071rem + 5.89vw, 86px);
  
}

.logo {
    font-family: Gilroy-bold;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #fff;

}

.nav-list {
    justify-self: center;
    align-self: center;
    display: flex;
    max-width: 478px;
    gap: 65px;
}

.open-mobile-menu{
    display: none;
}


.arrow-down{
    fill: #fff;
    position: absolute;
    left: 70px;
    top: 3px;
}

.nav-link:first-child{
    position: relative;
}

.nav-item:first-child {
    position: relative;
}

.drop-down{
    width: 80px;
    height: 15px;
    padding-bottom: 5px;
}


.drop-down:hover  .sun-nav-list  {
    opacity: 1;
    pointer-events: all;
  
}

.sun-nav-list{
    position: absolute;
   left: 10px;
    top: 100%;
    background-color: #2D2F33;
    display: flex;
    flex-direction: column;
    width: 120px;
    font-size: 14px;
    gap: 10px;
    padding: 15px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}


.sun-nav-link{
    color: #fff;

    &:hover{
        opacity: 0.8;
    }
}

.nav-link {
    font-family: "Gilroy-Medium";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    &:hover {
            opacity: 0.8;
        }
}

.link-bag {
    justify-self: end;
    position: relative;
}

.svg-bag {
    fill: #fff;
}



.bag-counter {
    font-family: Gilroy-bold;
    color: #fff;
    background-color: #E58411;
    border-radius: 45px;
    display: inline-block;
    height: 25px;
    padding: 0 6px;
    line-height: 25px;
    position: absolute;
    top: 3px;
    right: -6px;
}

/* ============================================================ */


.header-title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: clamp(28px , 0.821rem + 4.46vw, 80px);
    text-wrap: balance;
    line-height: 1.3;
    letter-spacing: -0.08px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 14px;
    max-width: 861px;
    margin: 0 auto;
}

.header-text {
font-size: clamp(15px, 0.857rem + 0.71vw, 24px);
    text-wrap: balance;  
    font-family: "Gilroy-Regular", sans-serif;
    line-height: 1.6;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 45px;
    max-width: 606px;
    margin: 0px auto 45px auto;
}

.form {
    display: flex;
    justify-self: center;
    position: relative;
}

.hero-imput {
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    padding: 16px 50px 16px 20px;
    width: 344px;
    height: 56px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.15);
    outline: none;
}

.hero-imput::placeholder {
    font-family: "Gilroy-Regular", sans-serif;
    opacity: 0.8;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}



.search-button {
    border-radius: 24px;
    padding: 11px;
    width: 40px;
    height: 40px;
    background: #e58411;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
}

.search-svg {
    stroke: white;
    fill: #E58411;
}

.info-dot-button {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}


.info-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #fff;
    z-index: 1;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

.info-dot-radiuse {
    width: 32px;
    height: 32px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.15);
    border: 0.86px solid #fff;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

.info-dot-button:hover .info-dot-radiuse {
    animation: pulse 2s infinite alternate paused;
}

.info-dot-button:hover .info-dot {
    background-color: #E58411;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* ============================= */
.sofa {
    position: absolute;
    left: calc(296 * 100% /1440);
    top: calc(685 * 100% / 1084);
}


.flores-pot {
    position: absolute;
    left: calc(103 * 100% /1440);
    top: calc(743 * 100% / 1084);
}

.vase {
    position: absolute;
    right: calc(620 * 100% /1440);
    bottom: calc(280 * 100% / 1084);
}

.big-flores-pot {
    position: absolute;
    right: calc(46 * 100% /1440);
    bottom: calc(250 * 100% / 1084);
}

/* ============================ */


.hint {
    background-image: url('../images/Union.svg');
    width: 112px;
    height: 56px;
    background-repeat: no-repeat;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 12px;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.select-buttun {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.select-buttun:checked+.fake-button {
    background-image: url('../images/Group\ \(2\).svg');
    background-repeat: no-repeat;
    background-position: center;

}


.fake-button {
    width: 24px;
    height: 24px;
    background-color: gray;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.orange {
    background-color: #E58411;
}

.blue {
    background-color: #00D6C9;
}


.hidden {
    display: none !important;
}

.container-mobile-menu{
    display: none;
}


@media screen and (max-width:1000px){
    .logo{
        font-size: 20px;
    }

    .nav-list{
       display: none;
    }

    .container-mobile-menu {
        display: block;
        position: fixed;
        height: 100%;
        width: 300px;
        z-index: 100;
        background-color: #2D2F33;
        top: 0;
        right: 0;
        padding-top: 50px;
        transition: all 0.3s ease-in;
    }

    .open-mobile-menu{
        display: block;
        width: 24px;
        height: 24px;
        margin: 0 auto;
        align-self: center;
    }

    .mobile-nav-list{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .mobile-nav-item{

    }

    .mobile-nav-link{
        font-family: "Gilroy-Medium";
        font-weight: 400;
        font-size: 24px;
        color: #fff;
    
        &:hover {
            opacity: 0.8;
        }
    }

    .mobile-nav-drop-list{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding:15px 0 15px 50px ;
        border-top: 0.5px solid #fff;
        border-bottom: 0.5px solid #fff;
        letter-spacing: 0.2cap;
       
    }

    .mobile-nav-drop-link{
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      
        &:hover {
            opacity: 0.8;
        }

    }
   .close-mobile-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4e4f52;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}

@media screen and (max-width:800px) {
    .header-dot{
        display: none;
        
    }

    .hero-imput {
        border: 0.86px solid rgba(255, 255, 255, 0.6);
        border-radius: 42px;
        padding: 10px 30px 8px 10px;
        width: 288px;
        height: 46px;
        backdrop-filter: blur(4px);
        background: rgba(255, 255, 255, 0.15);
        outline: none;
    }

    .search-button {
        border-radius: 24px;
        padding: 5px;
        width: 30px;
        height: 30px;
     
        top: 8px;
        right: 8px;
    }
    
}


@media screen and (max-width:399px) {
    .form {
        display: none;
    }
}





/* -=================section-choosing===================== */

.section-choosing {
    padding: 120px 0 114px 0;
    color: #fff;
}

.container-section-choosing {
    padding: 0 101px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title-section-choosinh {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #1e1e1e;
    margin-right: 74px;
    max-width: 242px;

}

.container-section-section-choosing {
    display: flex;
    gap: 41px;
}

.wrapper-text-section-choosing {
    max-width: 284px;
}

.sub-title-section-choosing {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #1e1e1e;
    opacity: 0.9;
    margin-bottom: 20px;
}

.text-section-choosing {
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85;
    color: #1e1e1e;
    opacity: 0.8;
    margin-bottom: 14px;
}

.link-more-info-section-choosing {
    color: #E58411;
    display: inline-flex;
    align-items: center;
    gap: 13px;

}



.arrow-svg {
    stroke: #E58411;

}

@media screen and (max-width:1000px){
.container-section-section-choosing {
      flex-wrap:wrap ;
    }

.title-section-choosinh{
 margin-bottom: auto;
}
}

@media screen and (max-width:760px){
    .container-section-choosing{
        flex-direction: column;
        align-items: center;
    }

    .title-section-choosinh{
      margin: 0 auto 30px auto;
    }

    .wrapper-text-section-choosing {
        margin: 0  auto;
    }

    .text-section-choosing{
        align-items: center;
    }


}


/* ============section-products================== */



.section-products {
    padding: 50px 0;
    background-color: #f7f7f7;
    text-align: center;
}

.container-section-products {
    padding: 0 120px;

}

.title-section-products {
    font-family: "Gilroy-Bold", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #1e1e1e;
    text-align: center;
    margin-bottom: 32px;
    
}

.container-button-section-products {
    border-radius: 44px;
    padding: 6px;
    display: flex;
    background-color: #eee;
    margin: 0px auto 127px auto;
    max-width: 348px;

}

.choose-products {
    border-radius: 32px;
    padding: 4px;
    width: 84px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.85;
    color: #1e1e1e;
    background-color: transparent;

}

.choose-products:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.choose-products:active,
.choose-products:focus {
    background-color: #FFf;
}




.slader-section-products {
    position: relative;
    display: flex;
    margin-bottom: 63px;
}

.arrow-svg-sliser {
    border-radius: 26px;
    padding: 11px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left {
    position: absolute;
    top: 40%;
    left: -25px;
    z-index: 4;
}

.right {
    position: absolute;
    top: 40%;
   right: -25px;
    
    z-index: 4;
}

.arrow-svg-right {
    fill: #0d1b39;
    stroke: #0d1b39;
}

.praduct-card {
    text-align: start;
    position: relative;
}

.product-link {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.div-image {
    background-color: #fafafa;
    ;
    height: 239px;
    width: 270px;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;

}

.img-section-product {
 
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 0;
}

.div-description {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 13px 21px 27px 21px;
    font-family: "Inter", sans-serif;
    color: #0d1b39;
        width: 270px;
}


.stars-container {
    display: inline-flex;
    gap: 3px;
    margin-bottom: 37px;
}



.arrow-svg {
    fill: #F6B76F;
    stroke: #F6B76F;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    color: #8d8d8d;
    margin-bottom: 6px;
}

.product-name {
    font-weight: 600;
    font-size: 21px;
    text-transform: capitalize;
    color: #0d1b39;
    margin-bottom: 6px;
}

.wrapper-card-prise-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prise {
    font-weight: 600;
    font-size: 21px;
    color: #0d1b39;
}

.currency {
    font-weight: 600;
    font-size: 15px;
    color: #0d1b39;
    vertical-align: top;
    margin-right: 3px;
}

.button-card-plus {
    background-color: #0d1b39;
    border-radius: 31px;
    padding: 12px;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 3;
}

.button-plus {
    fill: #FFF;
}


.view-all-section-products {
    color: #E58411;
    display: inline-flex;
    align-items: center;
    gap: 13px;
    text-align: center;
}


.arrow-svg {
    stroke: #E58411;
}



/* Контейнер картинки */
.img-section-product {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 12px;
}


.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:1300px) {
   
    .right {
        right: -15px;
    }
}

@media screen and (max-width:1024px) {

    .right {
        right: 85px;
    }
}



@media screen and (max-width:1000px) {
    .section-products {
        padding: 35px 0;
        background-color: #f7f7f7;
        text-align: center;
    }

    .container-section-products {
        padding: 0 70px;

    }

    .right {
        right: 15px;
    }
}

@media screen and (max-width:760px) {
    .section-products {
        padding: 35px 0;
        background-color: #f7f7f7;
        text-align: center;
    }

    .container-section-products {
        padding: 0 20px;

    }

    .arrow-svg-sliser{
        display: none;
    }

    .swiper-wrapper{
        justify-content: center;
    }

    .praduct-card{
        width: 320px;
    }
}


/* .products-swiper{
 margin: 0 auto;
} */


/* ==========================footer=============================== */

.footer {
    background-color: #2D2F33;
    padding: 118px 0 56px 0;
}

.container-footer {
    padding: 0 188px 0 188px;
}

.div-footer {
    display: flex;
    margin-bottom: 118px;
    align-items: center;

}

.wrapper-lists-footer {
    display: flex;
    gap: 84px;
}

.wrtapper-text-footer {
    margin-right: 140px;
}

.logo-footer {
    display: inline-block;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #fff;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 29px;
}

.text-footer {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.8;
    max-width: 293px;

}



.link-footer {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.8;
}

.item-nav-title {
    margin-bottom: 20px;
}

.item-nav-footer {
    margin-bottom: 16px;
}

.item-nav-footer:last-child {
    margin-bottom: 0px;
}

.list-title {
    color: #E58411;
    font-size: 17px;
}

.copirigth-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-text-copirigth {
    display: flex;
    gap: 40px;
}




.text-copiright {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
    opacity: 0.8;
}


@media screen and (max-width:1024px) {

.footer {
        background-color: #2D2F33;
        padding: 118px 0 56px 0;
    }

    .container-footer {
        padding: 0 100px 0 100px;
    }
}


@media screen and (max-width:760px) {

    .footer {
        background-color: #2D2F33;
        padding: 50px 0 30px 0;
    }

    /* .logo-footer{
  text-align: center;
    } */

 .wrtapper-text-footer{
    margin: 0 auto 30px auto;
    text-align: center;
 }
    

    .container-footer {
        padding: 0 40px 0 40px;
    }

    .div-footer{
        flex-direction: column;
    }

    .wrapper-lists-footer{
        flex-direction: column;
    }

    .copirigth-wrapper{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .wrapper-text-copirigth{
        flex-direction: column;
    }

        .text-footer {
        
            max-width: 200px;
    
        }
    
}


